@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Quicksand', ui-sans-serif, system-ui, sans-serif;
    --color-element: #C0E2E5;
    --color-stroke: #88C4C9;
    --color-text: #000633;
    --color-card-pink: #FF7176;
    --color-card-orange: #FF8000;
    --color-card-blue: #1BA0AC;
    --color-card-green: #88C9B1;
    --color-hover: #6FBFA4;
    --color-hover-orange: #E67300;
    --color-hover-pink: #E65F64;
    --color-hover-element:#A8D4D9;
    --color-cta: #003B00;
    --color-text-orange: #4A1F00;
    --color-text-pink:#4A0F14;
}

